.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292e37;
    padding: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    scroll-margin-top: 100px;
}
.projectsContainer:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.projectsContainerTitle {
    font-size: 25px;
    font-weight: 600;
    color: #adadad;
    margin-bottom: 20px;
}

.projectsContainerTitle:hover {
    color: #fff;
}

.projectItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #232730;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    width: 300px;
    transition: all 0.3s ease;
    cursor: default;
}
.projectItem:hover {
    border: 2px solid #232730;
    transform: scale(1.05);
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectTitle {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.projectDescription {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.projectLinks {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.projectLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.projectLink:hover {
    color: #adadad;
    text-decoration: none;
}

.icon {
    font-size: 1.2rem;
}


