/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171a21;
  color: #adadad;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 24px;
  font-weight: 600;
}
