.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    list-style: none;
}

.navbarItem {
    margin-right: 20px;
}

.navbarLink {
    text-decoration: none;
    color: #adadad;
    transition: all 0.2s ease;
}
.navbarLink:hover {
    text-decoration:line-through;
}
